@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

body {
    display: flex;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;}
/* 
.column {
    width: 70%;
} */

.herohed {
    background-color: #1F2937;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    /* background-color: #1F2937; */
    display: flex;
    width: 80%;
    /* align-content: center; */
    margin: 0 auto;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    margin: auto 0;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 900;
    flex: 2;
}

.hero {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 5% 0;
    width: 80%;

}

.heroword {
    display: flex;
    flex-direction: column;
    margin: 5% 5% 5% 0;
    flex: 1;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    gap: 20px;
    /* margin-right: 35px; */
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

h1 {
    padding: 0;
    margin: 0;
}

.titlehed {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.herosec {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
}

.button1 {
    width: 100px;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.boxes {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 5% 0;
    margin: auto;
}

.boxtitle {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: auto;
}

.cards {
    display: flex;
    text-align: center;
    margin: 5% auto;
    gap: 70px;
    /* justify-items: center; */
}

.card {
    width: 150px;
    /* justify-content: space-around; */
}

.box {
    width: 150px;
    height: 150px;
    border: 3px #3882F6 solid;
    border-radius: 10px;
    margin: auto;
}

img {
    margin: auto;
    flex: 1;
}