@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

body {
    display: flex;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;}
/* 
.column {
    width: 70%;
} */

.herohed {
    background-color: #1F2937;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    /* background-color: #1F2937; */
    display: flex;
    width: 80%;
    /* align-content: center; */
    margin: 0 auto;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    margin: auto 0;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 900;
    flex: 2;
}

.hero {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 5% 0;
    width: 80%;

}

.heroword {
    display: flex;
    flex-direction: column;
    margin: 5% 5% 5% 0;
    flex: 1;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    gap: 20px;
    /* margin-right: 35px; */
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

h1 {
    padding: 0;
    margin: 0;
}

.titlehed {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.herosec {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 100px;

}

.button1 {
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.boxes {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 5% 0;
    margin: auto;
}

.boxtitle {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: auto;
}

.cards {
    display: flex;
    text-align: center;
    margin: 5% auto;
    gap: 70px;
    /* justify-items: center; */
}

.card {
    width: 150px;
    /* justify-content: space-around; */
}

.box {
    width: 150px;
    height: 150px;
    border: 3px #3882F6 solid;
    border-radius: 10px;
    margin: auto;
}

img {
    margin: auto;
    flex: 1;
}

.quotes {
    background-color: #E5E7EB;
    display: flex;
}

.actualquote {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.daquote {
    font-weight: 300;
    font-size: 36px;
    font-style: italic;
    box-sizing: border-box;
    padding: 20% 0 0;
    margin: 0;
}

.whoquoted {
    font-weight: 900;
    text-align: right;
    padding-bottom: 20%;
    margin: 10px 0 0 0;
}

.cta {
    display: flex;
    /* width: 80%; */
    /* height: 150px; */
    /* margin: 100px auto; */
    /* box-sizing: border-box; */
    padding: 20px;
}

.ctabox {
    background-color: #3882F6;
    display: flex;
    margin: 50px auto;
    padding: 25px 50px;
    box-sizing: border-box;
    border-radius: 5px;
}

.ctaflex {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 25px 50px;

}

.ctatitle {
    margin: 0;
    color: #F9FAF8;
    font-size: 20px;
    line-height: 1.2em;
}

.ctasub {
    margin: 0;
    color: #F9FAF8;
}

.ctabutton {
    margin: auto 50px;
    /* height: 50px; */
}

/* .ctabutt {
    padding: 0 50px;
} */

button.ctabutt {
    width: 100px;
    border: 1px solid #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

.footer {
    display: flex;
    background: #1F2937;
}

.footertxt {
    margin: 25px auto;
    color: #F9FAF8;
}